/* You can add global styles to this file, and also import other style files */
*{
    box-sizing: border-box;
}
html{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

a{
    text-decoration: none;
    color: rgb(1, 83, 190);
}


