/* You can add global styles to this file, and also import other style files */
table{
    border: 1px solid gray;
    padding: 0;
    min-width: 300px;
    max-width: 700px;
    margin: 0 auto;
}
tr{
    border: 1px solid black;
}
th{
    border: 1px solid black;
    padding: 10px;
    text-transform: uppercase;
    margin: 0;
}
td{
    text-transform: capitalize;
    border: 1px solid black;
    padding: 10px;
}
a{
    text-decoration: none;
    color: rgb(1, 83, 190);
}
